<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

   <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:taxonline-context.xml</param-value>
   </context-param>

   <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>

   <servlet>
      <servlet-name>taxonline-webapp</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
            <init-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>classpath:taxonline-dispatcher-servlet.xml</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <!-- Servlet for static resource -->
   <servlet>
      <servlet-name>static</servlet-name>
      <servlet-class>com.kdtax.web.servlet.DefaultServlet</servlet-class>
   </servlet>

   <servlet-mapping>
      <servlet-name>taxonline-webapp</servlet-name>
      <url-pattern>/</url-pattern>
   </servlet-mapping>

   <!-- Mapper for static resource -->
   <servlet-mapping>
      <servlet-name>static</servlet-name>
      <url-pattern>/static/*</url-pattern>
   </servlet-mapping>

<!--    <servlet> -->
<!--       <servlet-name>rest-exporter</servlet-name> -->
<!--       <servlet-class>org.springframework.data.rest.webmvc.RepositoryRestExporterServlet</servlet-class> -->
<!--       <load-on-startup>2</load-on-startup> -->
<!--    </servlet> -->

<!--    <servlet-mapping> -->
<!--       <servlet-name>rest-exporter</servlet-name> -->
<!--       <url-pattern>/api/*</url-pattern> -->
<!--    </servlet-mapping> -->

</web-app>
